<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="tobias.logging.SampleFilter"/>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="tobias.logging.CustomLayout"/>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
